@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Urbanist');

:root {
  --font-family-Comfortaa: 'Comfortaa', sans-serif;
  --font-family-Urbanist: 'Urbanist', sans-serif;

  --hg-gradient: linear-gradient(89.95deg, rgba(50, 177, 38, 0.6) 1.99%, rgba(36, 162, 233, 0.6) 85.34%, rgba(36, 162, 233, 0.6) 104.58%);
  --hg-gradient2: linear-gradient(91.17deg, rgba(50, 177, 38, 0.3) -1.88%, rgba(36, 162, 233, 0.3) 104.89%);
  --color-text: #19177E;
}

* {

  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
}

a {
  color: unset;
  text-decoration: none;
}



.circle_top_login {
  position: absolute;
  width: 29.5rem;
  height: 29.5rem;
  border-radius: 100%;
  background: rgba(49, 177, 39, 0.63);
  z-index: -1;
  left: -8.628rem;
  top: -10.6875rem;

  animation: roll-in-down 1500ms ease-out;
}

.circle_bottom_signup {
  position: absolute;
  width: 29.5rem;
  height: 29.5rem;
  border-radius: 100%;
  background: #31B127A1;
  z-index: -1;
  left: -8.628rem;
  animation: roll-in-top 1500ms ease-out;
  bottom: -10.6875rem;
}

.circle_bottom_login {
  position: absolute;
  z-index: -1;
  right: -8.628rem;
  bottom: -10.6875rem;
  width: 29.5rem;
  height: 29.5rem;
  border-radius: 100%;
  background: #24A2E9;
  animation: roll-in-top 1500ms ease-out;
}

.circle_top_signup {
  z-index: -1;
  position: absolute;
  width: 29.5rem;
  height: 29.5rem;

  right: -8.628rem;
  top: -10.6875rem;
  border-radius: 100%;
  background: #24A2E9;
  animation: roll-in-down 1500ms ease-out;
}

@keyframes roll-in-top {

  0% {
    transform: translateY(-29.5rem) rotate(-540deg);
    opacity: 1;
  }

  100% {

    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-down {

  0% {
    transform: translateY(29.5rem) rotate(540deg);
    opacity: 1;
  }

  100% {

    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
}

.login_signup_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

.login_signup_glass {
  position: absolute;
  left: 2.5625rem;
  top: 1.875rem;
  bottom: 1.875rem;
  right: 2.5625rem;
  background: rgba(236, 236, 236, 0.34);
  backdrop-filter: blur(.625rem);
  border-radius: 1.875rem;


  border: .1rem solid;
  border-top-color: #EDEDED;
  border-right-color: #EDEDED;
  border-left-color: #E0E0E0;
  border-bottom-color: #E0E0E0;
}



.signup_canidate_btn {
  border-radius: 1rem 0 0 1rem;
  border-style: solid;
  border-width: 0.125rem 0 0.125rem 0.125rem;
  border-color: #B8DEF3;
  cursor: pointer;
  text-transform: capitalize;
  font-family: var(--font-family-Urbanist);
  font-size: 1.25rem;
  color: var(--color-text);
  width: 14.3125rem;
  height: 4.125rem;
}

.signup_company_btn {
  border-radius: 0 1rem 1rem 0;
  border-style: solid;
  border-width: 0.125rem 0.125rem 0.125rem 0;
  border-color: #B8DEF3;
  cursor: pointer;
  text-transform: capitalize;
  font-family: var(--font-family-Urbanist);
  font-size: 1.25rem;
  color: var(--color-text);
  width: 14.3125rem;
  height: 4.125rem;
}

.btn_active {
  background: linear-gradient(89.95deg, rgba(50, 177, 38, 0.3) 1.99%, rgba(36, 162, 233, 0.3) 85.34%, rgba(36, 162, 233, 0.3) 104.58%);
}

.ProfileImage {
  border-radius: 100%;
  margin-top: .8rem;
}

html {
  scroll-behavior: smooth;
}

/* @media(max-width:998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:768px) {
  html {
    font-size: 45%;
  }
} */


/* ----------------------------------------------
 * Generated by Animista on 2023-3-1 18:8:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 311px;
  height: 69px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(320.66deg, #40B1F0 14.75%, #02456B 84.81%);
  filter: blur(1px);
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  transition: .9s;
  height: 38px;
  width: 38px;
  left: 15px;
  top: 17px;
  /* background: linear-gradient(320.66deg, #24A2E9 14.75%, #214175 84.81%); */
/* background-color: #7DCE77;
  /* filter: blur(1.5px); */
/* border-radius: 50px;
} */

/* input:checked+.slider:before {
  transform: translateX(240px);
}
input:checked + .slider {
  background-color: #7DCE77;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 311px;
  height: 69px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2D91C9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: '';
  position: absolute;
  transition: .9s;
  height: 38px;
  width: 38px;
  left: 15px;
  top: 17px;
  background-color: white;
  -webkit-transition: .9s;
  transition: .9s;
}

input:checked+.slider {
  background-color: #7DCE77;
}

input:focus+.slider {
  box-shadow: 0 0 1px #7DCE77;
}

input:checked+.slider:before {
  -webkit-transform: translateX(240px);
  -ms-transform: translateX(240px);
  transform: translateX(240px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.question-heading {
  font-family: 'Urbanist', sans-serif;
}

.main-head {
  color: #5748F5;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-family: 'Urbanist', sans-serif;
}

.sub-head {
  color: #5748F5;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'comfortaa', sans-serif;
}


.quiz-form {
  border: 3px solid #5748F5;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 30px;
  border-radius: 18px;
}

.question-container {
  margin-bottom: 20px;
}

.question-heading {
  font-size: 20px;
  font-weight: bold;
  color: #0c3c8e;
  margin-bottom: 10px;
}

.question-input {
  width: 100%;
  font-family: 'Urbanist', sans-serif;
  color:#19177E;
  font-size: 17px;
  padding: 10px;
  border: none;
  border-bottom: 3px solid #5748F5;
  margin-bottom: 10px;
}

.question-type {
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.type-select {
  font-family: 'Urbanist', sans-serif;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option-container {
  display: flex;
  align-items: center;
  border: none;
}

.option-heading {
  font-family: 'Comfortaa', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0c3c8e;
  margin-right: 10px;
}

.radio-input,
.checkbox-input {
  margin-right: 10px;
}

.option-input {
  flex-grow: 1;
  border: none;
  font-family: 'Comfortaa', sans-serif;
  color:#19177E;
  font-size: 14px;
  border-bottom: 3px solid #5748F5;
  margin-bottom: 10px;
  padding: 10px;
}

.remove-option-button {
  margin-left: 20px;
  cursor: pointer;
}

.add-question-button {
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  background-color: #214175;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
}

.add-option-button {
  background-color: #7DCE77;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  color: #fff;
  border: none;
  padding: 9px 14px;
  border-radius: 10px;
  margin-bottom: 3px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.remove-question-button {
  background-color: #ed5a50;
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: 'Urbanist', sans-serif;
  padding: 9px 14px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 16px;
}

.submit-button {
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Urbanist', sans-serif;
  margin-top: 30px;
  margin-left: 220px;
}

.card {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.card:hover {
  background-color: #f5f5f5;
}

.card.selected {
  background-color: #c7def9;
}

/* show quiz to candidate */

.quiz-complete {
  text-align: center;
  margin-top: 40px;
}

.quiz-complete h1 {
  font-size: 24px;
  color: #00b8d4; /* Blue color */
}

.quiz-complete p {
  font-size: 16px;
  color: #4caf50; /* Green color */
  margin-top: 10px;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 10px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option input {
  margin-right: 10px;
}

.timer {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
}

.timer-icon {
  margin-right: 5px;
}

.timer-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
}

.timer-progress {
  height: 100%;
  background-color: #4caf50; /* Green color */
  border-radius: 5px;
  transition: width 1s linear;
}

.timer-remaining {
  position: absolute;
  top: -25px;
  right: 0;
  font-weight: bold;
  color: #4caf50; /* Green color */
}


/* personality_selection */

.cardPersonality {
  background-color: #f2f2f2;
  font-family: 'Comfortaa', sans-serif;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.cardPersonality:hover {
  transition: border-color 0.9s ease;
  border-color: #4caf50;
}

.cardPersonality.selected {
  border-color: #2196f3;
  transition: background-color 0.3s ease;
  background-color: #2195f330;
}

h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Galano Classic', sans-serif;
  font-size: 25px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #5748F5;
  margin-bottom: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.remove-option-button{
  padding-top: 22px;
}